## user input id > display price of id > user input month > display price of month

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import ipywidgets as widgets #widgets to make fancy interactive elements
import datetime
import matplotlib.pyplot as plt #plotting stuff
%matplotlib inline

In [2]:
#import csv into dataframe
calendar_data = pd.read_csv('calendar.csv')

In [3]:
#remove all special characters in price column and convert price column to float
calendar_data['price'] = calendar_data['price'].str.replace(r'\$',"")
calendar_data['price'] = calendar_data['price'].str.replace(r'\,',"")
calendar_data['price'] = pd.to_numeric(calendar_data['price'], downcast="float") #convert column to float

   listing_id        date available  price
0      241032  2016-01-04         t   85.0
1      241032  2016-01-05         t   85.0
2      241032  2016-01-06         f    NaN
3      241032  2016-01-07         f    NaN
4      241032  2016-01-08         f    NaN

In [ ]:
#User key in the listing id to check their percentage of availability.
print('Key in your desired listing id')
listing_id_input =  int(input()) #input data type is a string

In [ ]:
#convered data column into datetime
calendar_data['date']= pd.to_datetime(calendar_data['date'])

g = calendar_data.groupby('listing_id')

for listing_id, listing_id_df in g:
    if (listing_id == listing_id_input):
        #display(listing_id_df)
        selected_listingid = listing_id_df
    else:
        ("Invalid input")

In [ ]:
import ipywidgets as widgets #widgets to make fancy interactive elements
from ipywidgets import interact, interact_manual #creates user interface (UI) controls for exploring code and data interactively
from IPython.display import Markdown, display

def pricebymonth(month):
    print("Month of", month)
    selected_month = selected_listingid.loc[selected_listingid.date.dt.month_name() == month]
    display(selected_month.head())
    print("Average price of this month for selected listing:")
    print( '$%.2f' % (selected_month.price.mean()) )
    print()
    boxplt = selected_month.price.plot.box()
    boxplt.set_title('Listing id: '+ str(listing_id_input))
    boxplt.set_xlabel('range')
    plt.show()
    
interact(pricebymonth, month=['January', 'Febuary', 'March','April', 'May', 'June', 'July', 
                              'August', 'September', 'October', 'November', 'December']);